@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #353E40;
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: Verdana, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: #255268;
}

.white {
  background-color: white;
}

.overlay {
  height: 500px;
  min-width: 700px;
  max-width: 700px;
  z-index: 100;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.overlay-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #255268;
}

.rounded {
  clip-path: inset(0% 0% 0% 0% round 10px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1
}

.col {
  flex: 1;
  padding: 30px;
}

.join-create-room {
  .create-room {
    h3 {
      font-size: 1.875rem;
    }
    p {
      font-size: 1.25rem;
    }
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5rem;
    
    >* {
      margin-bottom: 1.3rem;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
}

.header { 
  h2 {
      font-size: 1.5rem;
  }
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
}

.btn {
  border: none;
  padding: 12px 16px;
  height: 50px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: #ff9700;
  color: white;
}

.btn-secondary {
  background-color: #255268;
  color: white;  
}

.btn>.icon {
  height: 1.5rem;
  margin-right: 0.5rem;
}